<a href="https://colab.research.google.com/github/karankumarsharma314-lab/data-science/blob/main/restrurent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
first_number = int(input( "enter your pizza price "))
print("")
second_number = int(input("enter your burger price "))
print("")
third_number =int(input("enter yout cold drink price "))
print("")
fourth_number = int(input("enter your pasta price "))
print("")
total = first_number + second_number + third_number + fourth_number
print("")
print(f" pizza price {first_number}",)
print("")
print(f" burger price  {second_number}",)
print("")
print(f" cold drink price  {third_number}")
print("")
print(f" pasta price {fourth_number} total is ",total)
print("")

enter your pizza price 76

enter your burger price 45

enter yout cold drink price 56

enter your pasta price 56


 pizza price 76

 burger price  45

 cold drink price  56

 pasta price 56 total is  233